flask==2.3.4
flask-sqlalchemy==3.0.3
flask-migrate==4.0.4
flask-jwt-extended==4.4.4
flask-marshmallow==0.15.0
marshmallow==3.21.1
marshmallow-sqlalchemy==0.28.1
python-dotenv==1.0.0
psycopg2-binary==2.9.7
prometheus-client==0.17.0
flask-cors==4.0.1
pytest==7.4.0